{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
<h1> Bienvenue dans notre librairie ! </h1>


<footer>
    <p> Copyright SAMIR 2024 </p>
</footer>
{% endblock %}