{% extends 'base.html.twig' %}

{% block title %} Commandes - Par Editeur {% endblock %}
{% block body %}
<h1> Commandes par Editeur: </h1>
    <select name"commandes_par_editeur">
        <option value="">Sélectionner un Editeur : </option>
        {% for commande in commandes %}
        <option value="{{ commande.getLivre().getEditeur() }}"> {{ commande.getLivre().getEditeur() }} </option>
        {% endfor %}
    </select>
    <input type="submit" value="Rechercher">
<a href="{{ path('app_commandes') }}"> <button> Retour à la liste </button> </a>
{# {{ dump(commandes) }} #}
{% endblock %}